.modal-lg {
  width: 800px !important; }

.modal-backdrop {
  opacity: 0.5; }

.modal-content {
  text-align: center !important; }

.modal-body {
  font-size: medium !important; }
  .modal-body .row {
    display: flex !important;
    align-items: center !important;
    padding: 2px !important;
    justify-content: center; }

.modal-footer {
  padding: 0px !important;
  text-align: center !important;
  border-top: 0px !important;
  font-size: medium !important; }

.payment-method-logo {
  width: 100px !important; }
